* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

h1 {
    padding: 10px;
}

.screens {
    display: flex;
}

.screen {
    width: 100%;
    height: 100%;
    padding: 10px;
}

.canvas {
    width: 100%;
    height: 50vh;
    float: left;
    display: block;
    margin: 0;
    padding: 0;
}